html,
body {
	height: 100%;
}

body {
	margin: 0;

}



.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	flex-grow: 1
}

.aside-1 {
	order: -1;
	padding-top: 20px; 
	background: #c798b9;
	flex-basis: 210px;
}

.aside-2 {
	padding-top: 20px; 
	background: #9cb1c7;
	flex-basis: 210px;
}

.header {
	padding: 20px;
	background: #d3b714;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer {
	padding: 20px;
	background: #86ec86;
	text-align: center;
}

.list {
	display: flex;
	flex-direction: row;
}

.list a {
	text-decoration: none;
	color: #000;
}

.list > li {
	margin: 10px 0 0 15px;
	list-style: none;
}

.img {
	height: 60px;
	padding-left: 20px; 
}

.common {
	flex: 1 0 0;
}

.common p {
	margin: 30px 20px 0 20px;
}

h1 {
	text-transform: uppercase;
	margin-top: 60px;
}

.card img {
	height: 100px;
	width: 100px;
	border-radius: 50%; 
	border: solid #f08865 10px;
	opacity: 0.8;
}

.card {
	height: 500px;
	width: 340px;
	border: solid #9b9b9b 2px;
	border-radius: 25px;
	padding: 20px 30px 10px 30px;
	margin: 15px;
	position: relative;
}

.button {
	background: #1c8eb0;
	position: absolute;
	bottom: 20px;
	right: 170px;
}

.card a {
	text-decoration: none;
	color: #fff;
	padding: 7px 20px;
	border-radius: 20px;
	font-weight: bold;
}


.card > p {
	margin-top: 20px; 
	text-align: justify;

}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.menu-opener {
	width: 40px;
	height: 40px;
	background: #f08865;
	display: block;
	position: relative;
}

.menu-opener::before,
.menu-opener::after,
.menu-opener span {
	content: '';
	position: absolute;
	top: 12px;
	left: 12px;
	width: 20px;
	height: 1.8px;
	background: #37342a;
}

.menu-opener::after {
	top: 18px;
}

.menu-opener span {
	top: 24px;
}

.nav .checkbox:checked + .menu-opener::before {
	transform: rotate(45deg);
	top: 18px;
}

.nav .checkbox:checked + .menu-opener::after, 
.nav .checkbox:checked + .menu-opener span {
	transform: rotate(-45deg);
	top: 18px;
}

.nav .checkbox {
	display: none;
}


@media (max-width: 1920px) {
	.checkbox, 
	.menu-opener, 
	.menu-opener span {
		display: none;
	}	
}

@media (max-width: 1024px) {
	.checkbox, 
	.menu-opener, 
	.menu-opener span {
		display: none;
	}	

	.common {
		width: 950px;
	}
}

@media (max-width: 768px) {
	.common {
		width: 480px;
		.padding-right: 20px;
	}

	.aside-2, .aside-1 {
		display: none;		
	}

	.content {
		width: 480px;
	}

	.common {
		width: 768px;
	}
	
	.header {
		padding: 0;
		position: relative;
	}

	.nav ul {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 10px;
		background: #d3b714;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		transform: translate(0, -10px);
	}

	.nav .checkbox:checked ~ ul {
		opacity: 1;
		visibility: visible;
		transform: translate(0, -20px);
	}

	.wrapper .header {
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
	}

	.checkbox, 
	.menu-opener, 
	.menu-opener span {
		display: block;
	}	
}