blockquote {
    margin: 0;
    color: #00FF00;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

a[href^="https://"] {
	color: #FF0000;
}

.list > li:nth-child(4) {
	display: inline-block;
	background: #0000FF;
}

ul + p {
	font-size: 26px;
}



/*--------------------------------------------------------------------------*/

.text-holder > h3:first-child {
	color: pink;
}

#greycol {
	color: grey;
}

.text-holder > div > p {
	color: red;
}

.text-holder > p:nth-child(2n+1) {
	color: green;
}

.yellow {
	color: yellow;
}
/*/*-----------------------------------------------------------------------*/
.bg-box {
	background-color: transparent;
	background: #2a700a; width: 750px; height: 425px;
	background-image: url(../images/s-lamp-png-0.png), 
		url(../images/s-grass-png-images-pictures-transparent-28.png), 
		url(../images/s-Ёжик.png), 
		url(../images/s-58eb07b830eab15b56162788.png), 
		url(../images/s-pole-zelen-trava-dom-derevya.jpg);
					  
	background-position: top, bottom, left, right, center;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
	
	